@{
    Layout = null;
    ViewData["Title"] = "TimeSheet Management System";
}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" type="image/png" href="https://favicon-generator.org/favicon-generator/htdocs/favicons/2017-12-28/7986d0a549fd65aad96738d8a7f39d9d.ico.png" />

  <!-- TODO: Place fontawesome in webpack -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <title>@ViewData["Title"]</title>

  <style>
    #anti-forgery, #user-id, #full-name {
      display: none;
    }
  </style>
</head>

<body>

  <span id="anti-forgery">@Html.AntiForgeryToken()</span>
  <span id="user-id">@ViewData["UserId"]</span>
  <span id="full-name">@ViewData["FullName"]</span>
  <div id="app"></div>

  <script src="~/dist/vendor.js" asp-append-version="true"></script>
  <script src="~/dist/main.js" asp-append-version="true"></script>
</body>

</html>