@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- TODO: Place fontawesome in webpack -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <title>Document</title>

  <style>
    #anti-forgery {
      display: none;
    }
  </style>
</head>

<body>

  <span id="anti-forgery">@Html.AntiForgeryToken()</span>
  <div id="app"></div>

  <script src="~/dist/vendor.js" asp-append-version="true"></script>
  <script src="~/dist/main.js" asp-append-version="true"></script>
</body>

</html>